$zIndexGame: 100;
$zIndexHud: 200;
$zIndexOverlays: 300;
$zIndexSuperlays: 400;
$zIndexSuperDuperlays: 500;

@font-face {
  font-family: 'Pixelmix';
  src: url('../fonts/pixelmix.ttf');
}
@font-face {
  font-family: 'FrauHex';
  src: url('../fonts/frau-hex.ttf');
}

*, *:before, *:after {
  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;

  font-weight: normal !important;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  background: #000;
  color: #fff;
  overflow: hidden;
  -webkit-font-smoothing: none !important;
  font-family: 'Pixelmix', monospace;
  font-weight: normal !important;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.hidden {
  display: none;
}

#game {
  cursor: none !important;
  z-index: $zIndexGame;
}

#stats {
  background: #000;
  background: linear-gradient(to bottom, #383b40 0%,#000000 100%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: $zIndexHud;
  height: 50px;
  border-bottom: 2px solid rgba(255, 250, 134, 0.75);
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  text-shadow: 1px 1px 1px #000;

  .l {
    float: left;
  }
  .r {
    float: right;
  }

  .col {
    float: left;
    margin: 0 10px;
    line-height: 45px;
    font-size: 14px;

    img {
      vertical-align: middle;

      &.flag {
        margin-top: -2px;
        width: 22px;
        height: 15px;
        margin-right: 10px;
      }
    }
  }
}

#score {
  position: fixed;
  z-index: $zIndexHud;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
  cursor: none;

  .leader {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    float: left;
    margin: 10px 5px;
    padding: 10px;
    font-size: 12px;
    text-shadow: 0 1px 1px #000;

    &.player {
      color: #64c26f;
    }

    &.playing {
      background: rgba(22, 82, 255, 0.75);
      margin-top: 0;
    }

    img.flag {
      float: left;
      width: 20px;
      margin-right: 5px;
    }
  }
}

#notices {
  position: fixed;
  top: 50px;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 26px;
  z-index: $zIndexOverlays;
}

#burningtomato {
  $height: 435px;
  height: $height;
  top: 50%;
  margin-top: -($height / 2) - 50;
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  z-index: $zIndexSuperlays;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#mainmenu {
  text-align: center;
  padding: 25px;

  h1 {
    font-family: FrauHex;
    font-size: 132px;
    margin: 20px 0;
  }

  h2 {
    font-size: 6pt * 3;
    color: #eee;
    margin: 10px 0 50px 0;
  }

  .button {
    border: 1px solid #b9b9b9;
    color: #fff;
    $pad: 15px;
    padding: ($pad - 2px) $pad $pad $pad;
    width: 500px;
    margin: 30px auto;
    font-size: 32px;
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
    line-height: 40px;
    cursor: pointer;
    opacity: 0.95;

    &:hover {
      opacity: 1.0;
    }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-image: url('../images/pixelator.png');
  z-index: $zIndexSuperlays;
}

.dialog {
  position: absolute;
  background: #555;
  padding: 25px 20px 20px 20px;
  left: 50%;
  margin-left: -(600px / 2);
  width: 600px;
  border-radius: 5px;
  border: 1px solid #747474;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  top: -5px;
  z-index: $zIndexSuperDuperlays;
  background: linear-gradient(to bottom, rgb(69, 72, 77) 0%, rgb(30, 30, 30) 100%);

  h3 {
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .option {
    border: 1px solid #ccc;
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
    background-image: url('../images/pixelator.png');
    margin: 15px 0;
    line-height: 16px;
    cursor: pointer;

    .flag {
      height: 16px;
      width: 24px;
      margin-right: 10px;
    }

    &:hover {
      border-color: #385aa3;
    }
  }

  .button {
    background: rgba(0, 0, 0, 0.5);
    background-image: url('../images/pixelator.png');
    text-align: center;
    padding: 10px;
    border: 1px solid #333;
    cursor: pointer;

    &:hover {
      border-color: #555;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

#endturn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: $zIndexOverlays;
  font-size: 32px;
  background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
  border-radius: 5px;
  padding: 15px 17px 19px 17px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid #555;
  cursor: pointer;
  opacity: 0.95;

  &:hover {
    opacity: 1;
  }
}